/* input:invalid[focused="true"]{
    border: 1px solid red;
}

input:invalid[focused="true"] ~ p{
    display: block;
} */
/* input~p {
    display: none;
    color: red;
}

input:invalid {
    border: 2px solid red;
}

input:invalid~p {
    display: block;
} */